@import "tailwindcss";
 /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");  */

:root {
  --color-primary-300: #003B42;  
  --color-secondary-50: #ffffff;       
  --color-warning: #F9A825;      
  --color-border: #948E8E; 
  --font-poppins:Poppins;      
}

body {
  background-color: var(--color-primary-300);
}
