@import "tailwindcss";


@theme  {
  --color-primary-300: var(--color-red-500);
  --color-secondary-50: var(--color-blue-500);
  --color-success: var(--color-green-500);
  --color-warning: var(--color-yellow-500);
}